*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
html{
  font-size: 62.5%;
  
}
a{
  text-decoration: none;
}



  /*Color de la Nav*/
  .bg-Color { 
    background-color: rgb(41,37,36);
    
  }
  /*Tamaño de fuente Botonera*/
  .Lista{
    font-size: 2.5rem;
    color:rgb(197, 197, 197);
}
  /*Tamaño del Main de Trabajos*/
  .MainTrab{
    height: 100vh;
  }
  /*Tamaño carrusel*/
  .w-carousel{
    width: 60%;
  }
  /*Color titulo principal*/
  .titulo{
    color: rgb(117, 115, 115);
    
  }

  
    /*Estilo de titulos secundarios*/
    .tituloSec{
      color: rgb(117, 115, 115);
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      text-align: center;
      font-size: 2rem;
    }
/*Color Enlaces a Secciones*/
.Enlaces{
 
  background-color: rgb(255, 255, 255);
}
    
    
/*Estilo de las imagenes*/
.imgStyle{
  
  border-radius: 10px;
}
/*Estilo de los textos*/
.texto{
  color: rgb(117, 115, 115);
  line-height: 4rem;
  letter-spacing: 1px;
  word-spacing: 2px ;
  font-size: 2rem;
  text-align: center;
}
.textoAcc{
  color: rgb(117, 115, 115);
  line-height: 4rem;
  letter-spacing: 1px;
  word-spacing: 2px ;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
/*Tamano texto*/
.w-acordeon{
  width: 90%;
}
  /*Estilos del footer*/


  .SocialMedia { 
      grid-area: SocialMedia;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(41,37,36);
      color:rgb(197, 197, 197);
      text-align: center;
      font-size:  5rem;
      
      letter-spacing: 1rem;
  }
  .SocialMedia a {
      color: rgb(190, 188, 188);
      width: auto;
      height: auto;
  }
  

  .Address { 
      grid-area: Address;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(41,37,36);
      color:rgb(197, 197, 197);
      text-align: center;
      font-weight: 300;
      font-size: 2.5rem;
      
  }

  .Up { 
      grid-area: Up;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(41,37,36);
      color:rgb(197, 197, 197);
      text-align: center;
      font-size: 2.5rem;
      
  }


@media only screen and (max-width: 768px){
  
/*Estilos del Footer*/
.Up { 
  font-size: 3rem;
  
}
.SocialMedia { 
  font-size:  3rem;
  
}

.Address { 
  font-size: 1.5rem;;
}


}


@media only screen and (max-width: 280px){

/*Estilo footer*/

.Up { 
    font-size: 1rem;;
  
}
.SocialMedia { 
  
    font-size:  1rem;
}

.Address { 
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  font-weight: 300;
  font-size: 0.5rem;
  padding-bottom: 2rem;
}


}

